{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            {% for key in records[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in records %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
{% if records %}
    <table class="table table-bordered">
        ...
    </table>
{% else %}
    <p>No data available.</p>
{% endif %}    
</table>
{% endblock %}
