{% extends 'base.html' %}
{% block title %}Generate Report{% endblock %}
{% block content %}
<h1>Report</h1>
<a href="{{ url_for('download_excel') }}" class="btn btn-success mb-2">Download Excel</a>
<a href="{{ url_for('download_pdf') }}" class="btn btn-danger mb-2">Download PDF</a>
<table class="table table-bordered">
    <thead>
        <tr>
            {% for key in records[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in records %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
